@{
    Layout = "~/Views/Shared/_LayoutSign.cshtml";
}

<!-- about start -->

<div class="container" id="about-container">

    <div class="row" id="about-row">

        <div class="col-12" id="about-col">
            <img src="~/asset/image/audi-r8.jpg" alt="Car's Image Loading" width="20%" height="100%" id="about-img">
            <p id="about-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates, est saepe quas harum cum commodi nobis incidunt tempora minus modi numquam soluta repellendus adipisci officia vitae ipsum. Laboriosam fugiat perspiciatis architecto? Commodi neque nemo, natus doloribus itaque omnis porro earum cumque unde dolorem reiciendis cupiditate laudantium! Qui quidem quisquam eum.</p>
        </div>

        <div class="col-12" id="about-col-r">
            <p id="about-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates, est saepe quas harum cum commodi nobis incidunt tempora minus modi numquam soluta repellendus adipisci officia vitae ipsum. Laboriosam fugiat perspiciatis architecto? Commodi neque nemo, natus doloribus itaque omnis porro earum cumque unde dolorem reiciendis cupiditate laudantium! Qui quidem quisquam eum.</p>
            <img src="~/asset/image/audi-r8.jpg" alt="Car's Image Loading" width="20%" height="100%" id="about-img-r">
        </div>

        <div class="col-12" id="about-col">
            <img src="~/asset/image/audi-r8.jpg" alt="Car's Image Loading" width="20%" height="100%" id="about-img">
            <p id="about-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates, est saepe quas harum cum commodi nobis incidunt tempora minus modi numquam soluta repellendus adipisci officia vitae ipsum. Laboriosam fugiat perspiciatis architecto? Commodi neque nemo, natus doloribus itaque omnis porro earum cumque unde dolorem reiciendis cupiditate laudantium! Qui quidem quisquam eum.</p>
        </div>

        <div class="col-12" id="about-col-r">
            <p id="about-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates, est saepe quas harum cum commodi nobis incidunt tempora minus modi numquam soluta repellendus adipisci officia vitae ipsum. Laboriosam fugiat perspiciatis architecto? Commodi neque nemo, natus doloribus itaque omnis porro earum cumque unde dolorem reiciendis cupiditate laudantium! Qui quidem quisquam eum.</p>
            <img src="~/asset/image/audi-r8.jpg" alt="Car's Image Loading" width="20%" height="100%" id="about-img-r">
        </div>

    </div>

</div>

<!-- about end -->