@{
    Layout = "~/Views/Shared/_LayoutSign.cshtml";
}

<!-- gallery start -->

<div class="container" id="gallery-container">
    <div class="row" id="gallery-row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <div id="gallery-img">
                <img src="~/asset/image/audi-r8.jpg" alt="Car's Image Loading" width="100%" height="300px" />
            </div>
            <div id="gallery-img">
                <img src="~/asset/image/rs-7.png" alt="Car's Image Loading" width="100%" height="600px" />
            </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div id="gallery-img">
                <img src="~/asset/image/Supra.png" width="100%" height="600px" alt="Car's Image Loading" />
            </div>
            <div id="gallery-img">
                <img src="~/asset/image/BENZ S_CLASS.jpg" width="100%" height="300px" alt="Car's Image Loading" />
            </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <div id="gallery-img">
                <img src="~/asset/image/BMW_M4_(G82)_IMG_4183.jpg" width="100%" height="300px" alt="Car's Image Loading" />
            </div>
            <div id="gallery-img">
                <img src="~/asset/image/Crown.jpg" alt="Car's Image Loading" width="100%" height="600px" />
            </div>
        </div>
    </div>
</div>

<div class="container" id="gallery-container">
    <div class="row" id="gallery-row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <div id="gallery-img">
                <img src="~/asset/image/audi-r8.jpg" alt="Car's Image Loading" width="100%" height="300px" />
            </div>
            <div id="gallery-img">
                <img src="~/asset/image/rs-7.png" alt="Car's Image Loading" width="100%" height="600px" />
            </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div id="gallery-img">
                <img src="~/asset/image/Supra.png" width="100%" height="600px" alt="Car's Image Loading" />
            </div>
            <div id="gallery-img">
                <img src="~/asset/image/BENZ S_CLASS.jpg" width="100%" height="300px" alt="Car's Image Loading" />
            </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <div id="gallery-img">
                <img src="~/asset/image/BMW_M4_(G82)_IMG_4183.jpg" width="100%" height="300px" alt="Car's Image Loading" />
            </div>
            <div id="gallery-img">
                <img src="~/asset/image/Crown.jpg" alt="Car's Image Loading" width="100%" height="600px" />
            </div>
        </div>
    </div>
</div>

<!-- gallery end -->